@page "/"
<h1 class="title">
    Mario Bros Blazor
</h1>
<h2 class="subtitle">
    Press 3 to start playing, press A-Z to move Luigi up/down, press K-M to move Mario up/down<br />
    After three failures, games ends.
</h2>
<div class="columns is-centered">
    <Screen />
</div>